<%- include('../layouts/common') -%>
<div class="container pt-5">
  <h1>Products</h1>
  <div class="d-flex align-items-center">
    <a class="btn btn-primary mb-auto" href="/products/create">New</a>
    <form action="/products" method="GET" class="d-flex ml-auto">
        <input id="search-products" name="search" type="text" class="form-control"/>
        <button class="btn btn-primary ml-2">Search</button>
    </form>
  </div>
  <div class="row">
    <% products.forEach((product) => { %>
      <div class="col-sm">
        <%=product.name;%> <br>
        <img src="<%=product.image;%>"/> <br>
        <%=product.description;%> <br>
        <%=product.price;%> <br>
      </div>
    <% }); %>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% if(previousPage<firstPage){ %>
      <a class="page-link" href="/products?page=<%=firstPage%>" aria-label="Previous" style="display: none">
        <span aria-hidden="true">First</span>
      </a>
      <li class="page-item">
        <a class="page-link" href="/products?page=<%=previousPage%>" aria-label="Previous" style="display: none">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } else{ %>
        <a class="page-link" href="/products?page=<%=firstPage%>" aria-label="Previous">
          <span aria-hidden="true">First</span>
        </a>
        <li class="page-item">
          <a class="page-link" href="/products?page=<%=previousPage%>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } %>
      <%  for(let j=page; j<page+3; j++){
            if(j<=lastPage){ %>
              <li class="page-item">
                <% if(!search){ %>
                  <a id="query_string1" class="page-link" href="/products?page=<%=j%>"><%=j%></a>
                <% } else{ %>
                  <a id="query_string2" class="page-link" href="/products?page=<%=j%>&search=<%=search%>"><%=j%></a>
                <% } %>
              </li>
            <% }
      } %>
      <% if(nextPage !== lastPage){ %>
        <li class="page-item">
          <a class="page-link" href="/products?page=<%=nextPage%>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <a class="page-link" href="/products?page=<%=lastPage%>" aria-label="Last">
          <span aria-hidden="true">Last</span>
        </a>
      <% } else{ %>
        <li class="page-item">
          <a class="page-link" href="/products?page=<%=nextPage%>" aria-label="Next" style="display: none">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <a class="page-link" href="/products?page=<%=lastPage%>" aria-label="Last" style="display: none">
          <span aria-hidden="true">Last</span>
        </a>
      <% } %>
    </ul>
  </nav>
</div>

<script>
  //This script used to save value of input after click button or reload page
  let input = document.getElementById('search-products');
  input.addEventListener('change', updateSessionStorage);         //Add event named 'change' and update within sessionStorage
  function updateSessionStorage(){
      sessionStorage.setItem('draft', input.value);               //Pass value of input for sessionStorage named 'draft'
  }
  input.value = sessionStorage.getItem('draft');                  //Pass reverse item of sessionStorage named 'draft' for value of input
</script>

<%- include('../layouts/footer') -%>