<%- include('../layouts/common') -%>
<h1>View products</h1>
<b>Name</b>
<ul>
    <li><%=product.name%></li>
    <li><%=product.image%></li>
    <li><%=product.description%></li>
    <li><%=product.price%></li>
</ul>